.register{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4rem;
    width: 30rem;
    height: 38rem;
    border: 1px solid #462AB8;
    border-radius: 10px;
}
.register h3{
    margin: 0 0 2rem 0 ;
    text-transform: uppercase;
    color: #462AB8;
}
.register-name, .register-email, .register-password, .register-RepeatPassword{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem ;
}

.register-name label, .register-email label, .register-password label, .register-RepeatPassword label{
    font-size: 0.8rem;
    padding-left: 1rem;
}
.register-name input, .register-email input, .register-password input, .register-RepeatPassword input{
    border: 1px solid #CFCED6;
    box-sizing: border-box;
    border-radius: 10px;
    padding-left: 1rem;
    width: 17rem;
    height: 2.5rem;
}
.register-btn{
    font-weight: 500;
    font-size: 1rem;
    background: #462AB8;
    border-radius: 10px;
    border-style: none;
    letter-spacing: 1.5px;
    color: #ffffff;
    width: 8rem;
    height: 2rem;
    cursor: pointer;
}

.register-nav a{
    text-decoration: none;
    margin-top: 0;
    color: #462AB8;
    font-weight: 300;
    cursor: pointer;
}
@media (max-width: 576px) {
    .register{
        width: 25rem;
        height: 33rem;
        padding: 1rem;
    }
    
  .register h3{
    margin: 1rem 0 2rem 0;
  }
}
.register-btn{
    width: 7rem;
    padding: 0.3rem;
    margin-bottom: 2rem;
}