.header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
  background: #ffffff;
  width: 80%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 0.5rem;
}
.navigation h3{
    margin-left: 4rem;
    color: #462AB8;
}
.navigation button{
    background: #462AB8;
    color: #ffffff;
    border-style: none;
    width: 6rem;
    height: 2rem;
    margin-right: 4rem;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 700;
    cursor: pointer;
}
.cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 6rem;
  
}
.footer{
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  
  
}
.footer p{
  color: #462AB8;
  font-weight: 300;
  font-size: 0.8rem;
}
